<nav
  class="navbar-center bg-gray-300 container flex flex-row flex-wrap flex-auto justify-around justify-items-center content-center min-w-full"
>
  <div class="flex justify-items-start">
    <img class="w-9/12 ml-5" src="../../../assets/rmlogo.png" />
  </div>
  <div class="flex justify-center items-end">
    <a class="btn btn-ghost normal-case text-2xl" [routerLink]="['/']">Home</a>
    <a class="btn btn-ghost normal-case text-2xl" [routerLink]="['/news']"
      >News Collection</a
    >
    <a class="btn btn-ghost normal-case text-2xl" [routerLink]="['/login']"
      >Login</a
    >
  </div>
</nav>
