<div class="flex">
  <div
    class="bg-black w-2/4 text-zinc-50 flex-row justify-center justify-items-center align-center"
  >
    <p class="font-mono text-2xl mt-10 p-5 text-center">
      Sporting mechanisms that are as elegant as they are immediately
      recognisable. An identical obsession with excellence, precision,
      reliability and innovation. In 2021, Ferrari and Richard Mille, driven by
      their shared quest for perfection, joined forces to create a long-term
      partnership. Richard Mille celebrates this budding relationship with the
      creation of an exceptional ultra-flat timepiece, the RM UP-01 Ferrari.
    </p>
    <p class="font-mono text-2xl mt-5 p-5 text-center">
      At just 1.75 millimetres thick, the RM UP-01 Ferrari constitutes a triumph
      of technical prowess and exemplifies a new approach to watch mechanics in
      which technicity more than ever dictates aesthetics.
    </p>

    <button class="btn btn-block btn-secondary mt-10" [routerLink]="['/news']">
      Start Buying
    </button>
  </div>

  <div class="bg-red-700 w-2/4">
    <img src="../../../assets/rmbody.webp" />
  </div>
</div>
